<ion-view view-title="Balance" show-root-tabs>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <h4 class="margin-bottom-10"><b>Available</b></h4>
        <p class="margin-bottom-10">{{$ctrl.balance.total | currency: $ctrl.shop.currency}}</p>
        <buton type="button" class="button button-positive" ng-click="$ctrl.withdraw()">Withdraw</buton>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h4 class="margin-bottom-10"><b>Statement</b></h4>
        <div ng-repeat="transaction in $ctrl.transactions">
          <p class="margin-bottom-10" ng-if="transaction.type=='charge'" ui-sref="tabs.balanceOrderDetail({id:transaction.orderId})">Order (id: {{transaction.orderId}}) <span class="margin-bottom-10 pull-right">{{transaction.amount | currency: $ctrl.shop.currency}}</span></p>
          <p class="margin-bottom-10" ng-if="transaction.type=='withdraw'">Withdraw <span class="margin-bottom-10 pull-right">{{transaction.amount | currency: $ctrl.shop.currency}}</span></p>
          <p class="margin-bottom-10" ng-if="transaction.type=='deliveryFee'" ui-sref="tabs.balanceOrderDetail({id:transaction.orderId})">Delivery fee (Order ID: {{transaction.orderId}})

          <span class="margin-bottom-10 pull-right">{{transaction.amount | currency: $ctrl.shop.currency}}</span>
          </p>
        </div>
        <p class="margin-bottom-10" ng-show="$ctrl.transactions.length == 0">No data</p>
      </div>
    </div>
  </ion-content>
</ion-view>
