<ion-view view-title="Balance" show-root-tabs>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
          <h1>Available</h1>
          <h1>{{$ctrl.balance.total | currency: $ctrl.shop.currency}}</h1>
          <buton type="button" class="button button-positive" ng-click="$ctrl.withdraw()">Withdraw</buton>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
          Statement
      </div>
      <div class="item" ng-repeat="transaction in $ctrl.transactions">
        <div class="row">
          <div class="col">
            <div ng-if="transaction.type=='charge'" ui-sref="tabs.balanceOrderDetail({id:transaction.orderId})">
              Order (id: {{transaction.orderId}})
            </div>
            <div ng-if="transaction.type=='withdraw'">
              Withdraw
            </div>
             <div ng-if="transaction.type=='deliveryFee'" ui-sref="tabs.balanceOrderDetail({id:transaction.orderId})">
              Delivery fee (Order ID: {{transaction.orderId}})
            </div>
          </div>
          <div class="col text-right">{{transaction.amount | currency: $ctrl.shop.currency}}</div>
        </div>
      </div>
      <div class="item" ng-show="$ctrl.transactions.length == 0">
        No data
      </div>
    </div>
  </ion-content>
</ion-view>
