<div class="schedule">
  <h6 class="schedule-caption" ng-transclude></h6>
  <div class="schedule-container">
    <div class="card card-border-left" ng-repeat="schedule in $ctrl.schedules track by $index" ng-click="$ctrl.edit(schedule)" on-hold="$ctrl.showActions(schedule)">
      <div class="item item-text-wrap">
        <h4 class="margin-bottom-10">
          <b>{{schedule.from|date:'h:mma'}} - {{schedule.to|date:'h:mma'}}</b>
        </h4>
        <p>
          <span ng-repeat="day in schedule.days">
              <span ng-if="$index!=0">, </span><span>{{day}}</span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <button class="button button-clear add-more-btn" ng-click="$ctrl.edit()"><i class="icon ion-ios-plus-outline"></i> Add more range</button>
</div>