<ion-modal-view>
    <ion-header-bar class="background-gradient">
        <button class="button button-clear" ng-click="$ctrl.editModal.hide()"><i class="icon ion-ios-close-outline"></i></button>
        <h1 class="title">Edit</h1>
        <button class="button button-clear" ng-click="$ctrl.saveSchedule(schedule)"><i class="icon ion-ios-checkmark-outline"></i></button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-input">
                <label class="input-label">From</label>
                <time-picker ng-model="schedule.from"></time-picker>
            </ion-item>
            <ion-item class="item-input">
                <label class="input-label">To</label>
                <time-picker ng-model="schedule.to"></time-picker>
            </ion-item>
            <ion-item class="item-divider">
                Repeat
            </ion-item>
            <ion-checkbox ng-repeat="day in days" ng-model="day.checked">
                {{day.name}}
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-modal-view>
