<ion-modal-view>
    <ion-header-bar class="background-gradient">
        <button class="button button-clear" ng-click="$ctrl.editModal.hide()"><i class="icon ion-ios-close-outline"></i></button>
        <h1 class="title">Category</h1>
        <button class="button button-clear" ng-click="$ctrl.saveCategory(category)"><i class="icon ion-ios-checkmark-outline"></i></button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-input item-floating-label">
                <label class="input-label">Name</label>
                <input type="text" ng-model="category.name" placeholder="Name">
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
