<span ng-drop="true" ng-drop-success="$ctrl.onDropComplete($index,$data,$event)"  style="width:100px;height:100px;display:inline-block;" ng-repeat="(i, image) in $ctrl.ngModel track by $index">
  <image-picker  ng-drag="true" ng-drag-data="$ctrl.ngModel[i]" ng-model="$ctrl.ngModel[i]" file-name="{{$ctrl.fileNamePrefix}}"  style="width:100px;height:100px"></image-picker>
</span>
  <image-picker on-image-selected="$ctrl.addImage(url)" ng-model="tmp" file-name="{{$ctrl.fileNamePrefix}}_{{$ctrl.guid}}" style="width:100px;height:100px;" disable-fallback="true">
    <button class="button button-stable" style="width:100%;height:100%;"><i class="icon ion-android-add"></i></button>
  </image-picker>

