<ion-list>
  <ion-item class="item-input item-floating-label">
    <labe class="input-label">Name</labe>
    <input type="text" ng-model="$ctrl.valuePack.name" placeholder="Name">
  </ion-item>
  <ion-item class="item-input item-floating-label">
    <label class="input-label">Price</label>
    <div class="item-input-wrapper light-bg" style="padding: 0">
    <input type="number" ng-model="$ctrl.valuePack.price" placeholder="Price">
      <i class="item-input-inset">{{$ctrl.valuePack.shop.currency}}</i>
    </div>
  </ion-item>

  <product-select-item ng-model="$ctrl.valuePack.products" shop-id="$ctrl.shopId" class="select-floating">
    Products
  </product-select-item>
</ion-list>
