<ion-view view-title="Order Detail">
  <ion-content>
    <div class="row" ng-if="$ctrl.order.status=='pending'">
      <div class="col">
        <button class="button button-positive button-block" style="margin: 0" ng-click="$ctrl.updateOrderStatus($ctrl.order,'processing')">Accept</button>
      </div>
      <div class="col">
        <button class="button button-assertive button-block" style="margin: 0" ng-click="$ctrl.updateOrderStatus($ctrl.order,'cancel')">Decline</button>
      </div>
    </div>
    <div ng-if="$ctrl.order.status!='pending'">
      <div class="item-input item-select">
        <div class="input-label">Status</div>
        <select ng-model="$ctrl.order.status" ng-change="$ctrl.updateOrderStatus($ctrl.order,$ctrl.order.status)">
          <option value="{{option}}" ng-repeat="option in ['processing','delivering','delivered','issued','cancel']">{{option}}</option>
        </select>
      </div>
    </div>
    <ion-list>
      <ion-item>
        <ion-list>
          <ion-item class="item-divider row-head">
            <div class="row">
              <div class="col-50">Delivery</div>
              <div class="col-50">Payment</div>
            </div>
          </ion-item>
          <ion-item class="row-data">
            <div class="row">
              <div class="col-50">
                <p>
                  {{$ctrl.order.delivery_address.formatted_address}}
                </p>
              </div>
              <div class="col-50">
                <p ng-if="['omise'].indexOf($ctrl.order.payment_channel) != -1">
                  Credit card ({{$ctrl.order.payment_status}})
                </p>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item ng-repeat="item in $ctrl.order.orderItems">

        <!--orderitem (product)-->
        <div ng-if="item.product">
          <p>
            {{item.product.name}} ({{item.productVariant.name}})
            <span class="pull-right"> {{item.productVariant.price | currency:$ctrl.order.shop.currency}}</span>
          </p>
          <div>
            <p ng-if="item.productOptionValues.length"><b>Options</b></p>
            <p ng-repeat="option in item.productOptionValues">
              - {{option.productOption.name}} ({{option.value}})
              <span class="pull-right">+ {{option.price | currency:$ctrl.order.shop.currency}}</span>
            </p>
          </div>
          <div>
            <p><b>Promotions</b></p>
            <p ng-repeat="promotion in item.product.promotions">
              - {{promotion.name}} ({{promotion.discount_amount}}{{promotion.discount_percent?"%":""}} Off)
            </p>
          </div>
        </div>
        <!--orderitem (value pack)-->
        <div ng-if="item.productValuePack">
          <p>
            {{item.productValuePack.name}} (Value pack)
            <span class="pull-right"> {{item.productValuePack.price | currency:$ctrl.order.shop.currency}}</span>
          </p>
          <div>
            <p><b>Items</b></p>
            <div ng-repeat="subitem in item.orderItems">
              <p>
                - {{subitem.product.name}} ({{subitem.productVariant.name}})
                <span class="pull-right">+ {{subitem.productVariant.price - subitem.unitDiscount | currency:$ctrl.order.shop.currency}}</span>
              </p>
              <div class="padding-left">
                <p ng-if="subitem.productOptionValues.length"><b>Options</b></p>
                <p ng-repeat="option in subitem.productOptionValues">
                  -- {{option.productOption.name}} ({{option.value}})
                  <span class="pull-right">+ {{option.price | currency:$ctrl.order.shop.currency}}</span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p><b>Promotions</b></p>
            <p ng-repeat="promotion in item.productValuePack.promotions">
              - {{promotion.name}} ({{promotion.discount_amount}}{{promotion.discount_percent?"%":""}} Off)
            </p>
          </div>
        </div>

          <p class="padding-top">
            Unit price
            <span style="float:right">
              {{item.unitPrice | currency:$ctrl.order.shop.currency}}
            </span>
          </p>

          <p>
            Unit discount
            <span class="pull-right">
              - {{item.unitDiscount | currency:$ctrl.order.shop.currency}}
            </span>
          </p>
          <p>
            Quantity
            <span class="pull-right">
              {{item.quantity}}
            </span>
          </p>
          <p>
            Total
            <span class="pull-right">
              <b>{{(item.unitPrice - item.unitDiscount) * item.quantity | currency:$ctrl.order.shop.currency}}</b>
            </span>
          </p>

      </ion-item>
      <ion-item>
        <span class="h5">Total price</span>
            <span class="pull-right">
              {{($ctrl.order.total_price- $ctrl.order.total_discount) | currency:$ctrl.order.shop.currency}}
            </span>
      </ion-item>
      <ion-item>
        <span class="h5">Order status</span>
            <span class="pull-right">
              {{$ctrl.order.status }}
            </span>
      </ion-item>
    </ion-list>
    <div class="row" ng-if="$ctrl.order.status=='processing'">
      <div class="col">
        <div ng-if="!$ctrl.order.deliveryJobs">
          <button class="button button-positive button-block" ng-click="$ctrl.findDeliver()">Get Sendrex Deliver</button>
        </div>
        <div ng-if="$ctrl.order.deliveryJobs">
          <div class="list list-inset">
            <div class="item item-divider">Delivery status</div>
            <div class="item">
              <div ng-if="$ctrl.order.deliveryJobs.status == 'pending'">
                Searching for deliver
              </div>
              <div ng-if="$ctrl.order.deliveryJobs.status == 'picking'">
                <span>Waiting for deliver</span>
                <button type="button" class="button button-positive" ng-click="$ctrl.showCode()">Get delivery code</button>
              </div>
              <div ng-if="$ctrl.order.deliveryJobs.status == 'delivering'">
                Delivering
              </div>
              <div ng-if="$ctrl.order.deliveryJobs.status == 'delivering'">
                Delivered
              </div>
            </div>
            </div>
          </div>
          
      </div>
    </div>
  </ion-content>
</ion-view>
