.tab-store.tabs-top.tabs-color-light{	
	.tab-item{
	    color: rgba(255, 255, 255, 0.4);
    	opacity: 1;
		&.tab-item-active{
			color: #fff;
    		border: 0 solid #fff;
		}
	}

	.tabs {
		border: 0;
	}

}

.tab-store .tab-title{
	position: static !important;
}

