<ion-modal-view>
  <ion-header-bar class="background-gradient">
    <h1 class="title">{{$ctrl.title}}</h1>
    <button type="button" class="button button-clear" ng-click="$ctrl.done()"><i class="icon ion-ios-checkmark-outline"></i></button>
  </ion-header-bar>
  <ion-content scroll="false">
    <div data-tap-disabled="true" style="height:100%;">
      <leaflet markers="$ctrl.markers" center="$ctrl.center" defaults="$ctrl.defaults" tiles="$ctrl.tiles" width="100%" height="100%"></leaflet>
    </div>
    <div style="position:absolute;width:100%;top:0px;" class="light-bg">
      <ion-list>
        <ion-item class="item-input item-stacked-label">
          <label class="input-label">Address</label>
          <textarea rows="3" ng-focus="$ctrl.showSuggestion=true" ng-blur="$ctrl.showSuggestion= false" name="placesearch" ng-model="$ctrl.ngModel.formatted_address" ng-change="$ctrl.querySuggestions($ctrl.ngModel.formatted_address)"></textarea>
        </ion-item>
        <div ng-show="$ctrl.showSuggestion">
          <ion-item ng-repeat="suggest in $ctrl.suggestions" ng-click="$ctrl.selectSuggestion(suggest)">
            {{suggest.description}}
          </ion-item>
        </div>


      </ion-list>
    </div>



  </ion-content>
</ion-modal-view>

