<ion-list>
  <ion-item>
    <div class="row">
      <image-picker class="profile-image" ng-model="$ctrl.profile.image"></image-picker>
      <div class="col">
        <div>{{$ctrl.profile.displayname || $ctrl.profile.email}}</div>
      </div>
    </div>
  </ion-item>
  <ion-item class="item-input item-stacked-label">
    <label class="input-label">Display name</label>
    <input type="text" ng-model="$ctrl.profile.displayname">
  </ion-item>
  <ion-item class="item-input item-stacked-label">
    <label class="input-label">Firstname</label>
    <input type="text" ng-model="$ctrl.profile.firstname">
  </ion-item>
  <ion-item class="item-input item-stacked-label">
    <label class="input-label">Lastname</label>
    <input type="text" ng-model="$ctrl.profile.lastname">
  </ion-item>

  <ion-item class="item-input item-stacked-label">
    <label class="input-label">Date of birth</label>
    <date-picker ng-model="$ctrl.profile.date_of_birth"></date-picker>
  </ion-item>
</ion-list>
