<div style="padding: 0 30px;">
  <ion-list>
    <ion-item class="item-floating-label text-center">
      <image-picker class="profile-image" ng-init="$ctrl.profile.image=$ctrl.profile.image||''" ng-model="$ctrl.profile.image" disable-fallback=false></image-picker>
      <div style="font-size: 11px; margin-top: 10px">{{$ctrl.profile.displayname || $ctrl.profile.email}}</div>
    </ion-item>
    <ion-item class="item-input item-floating-label">
      <label class="input-label">Display name</label>
      <input type="text" ng-model="$ctrl.profile.displayname" placeholder="Display name">
    </ion-item>
    <ion-item class="item-input item-floating-label">
      <label class="input-label">First name</label>
      <input type="text" ng-model="$ctrl.profile.firstname" placeholder="First name">
    </ion-item>
    <ion-item class="item-input item-floating-label">
      <label class="input-label">Last name</label>
      <input type="text" ng-model="$ctrl.profile.lastname" placeholder="Last name">
    </ion-item>

    <ion-item class="item-input item-floating-label">
      <label class="input-label">Date of birth</label>
      <date-picker ng-model="$ctrl.profile.date_of_birth"></date-picker>
    </ion-item>
  </ion-list>
</div>
