image-picker{
  position:relative;
  display: inline-block;
  vertical-align:top;
  .preview-image{
    width:100%;
    height:100%;
    background-position:center center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #ddd;
  }
  &.circle{
    .preview-image {
      border-radius: 50%;
    }
  }
}
