<ion-list>
  <ion-item class="item-input item-stacked-label">
    <label class="input-label">Name</label>
    <input type="text" ng-model="$ctrl.promotion.name">
  </ion-item>
  <ion-item class="item-input item-stacked-label">
    <label class="input-label">Description</label>
    <textarea rows="4" ng-model="$ctrl.promotion.description"></textarea>
  </ion-item>
  <ion-item>
    <div>
      <label class="input-label">Discount</label>
    </div>
    <div class="row">
      <div class="col item-input">
        <input type="number" ng-model="$ctrl.promotion.discount_amount" class="text-right">
      </div>
      <div style="width:120px;" class="item-input item-select" >
        <select ng-model="$ctrl.promotion.discount_percent"
                ng-options="o.v as o.n for o in [{ n: 'USD', v: false }, { n: 'Percent', v: true }]"
                style="max-width:100%;">
        </select>
      </div>
    </div>

  </ion-item>
  <product-select-item ng-model="$ctrl.promotion.products" shop-id="$ctrl.promotion.shopId">
    Products
  </product-select-item>
  <value-pack-select-item ng-model="$ctrl.promotion.productValuePacks" shop-id="$ctrl.promotion.shopId">
    Value packs
  </value-pack-select-item>
  <ion-item class="item-input item-stacked-label">
    <label class="input-label">Start date</label>
    <date-picker ng-model="$ctrl.promotion.startDate"></date-picker>
  </ion-item>
  <ion-item class="item-input item-stacked-label">
    <label class="input-label">End date</label>
    <date-picker ng-model="$ctrl.promotion.endDate"></date-picker>
  </ion-item>
</ion-list>