<div class="list">
  <div class="item item-input-inset">
    <button class="button button-small" ng-click="$ctrl.showMenu = !$ctrl.showMenu">
      <i class="icon ion-android-add"></i>
    </button>
    <label class="item-input-wrapper">
      <textarea msd-elastic="\n" ng-model="$ctrl.message.message" style="width:100%;" ng-click="$ctrl.showMenu = false; $ctrl.showImages = $ctrl.showImages && $ctrl.message.images.length>0">
      </textarea>
    </label>
    <button class="button button-small" ng-click="$ctrl.sendMessage(message)">
      <i class="icon ion-android-send"></i>
    </button>
  </div>
  <div class="item" ng-show="$ctrl.message.products.length>0">
    Attached products: 
    <span ng-repeat="product in $ctrl.message.products">
      <span ng-if="$index>0">, </span>
      <span>{{product.name}}</span>
    </span>
  </div>
  <div class="item" ng-show="$ctrl.showImages">
    Attached images: 
    <multi-image-picker id="typingAreaImagePicker" ng-model="$ctrl.message.images" file-name-prefix="conversation-{{$ctrl.conversation.id}}"></multi-image-picker>
  </div>
  <div class="item" ng-show="$ctrl.showMenu ">
    <div class="row">
      <span class="padding">
        <attach-product selected-products="$ctrl.message.products" ng-model="$ctrl.message.productIds" conversation="$ctrl.conversation"></attach-product>
      </span>
      <span class="padding">
        <button class="button button-positive" ng-click="$ctrl.showImages = true">
          <i class="icon ion-images"></i>
        </button>
      </span>
    </div>
  </div>
</div>