<ion-modal-view class="variant-list-template">
    <ion-header-bar class="background-gradient">
        <h1 class="title">Variants</h1>
        <button class="button button-clear" ng-click="$ctrl.save()"><i class="icon ion-ios-checkmark-outline"></i></button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="$ctrl.enableVariants">Variant</ion-toggle>

            <ion-item class="item-divider margin-top-10 row-head">
                <div class="row">
                    <div class="col-25">
                        SKU
                    </div>
                    <div class="col-25">
                        Variant
                    </div>
                    <div class="col-25">
                        Price
                    </div>
                    <div class="col-25">
                        Stock
                    </div>
                </div>
            </ion-item>
            <ion-item ng-repeat="variant in $ctrl.variants" on-hold="$ctrl.showActions(variant)" class="row-data">
                <div class="row">
                    <div class="col-25">
                        <input type="text" placeholder="SKU" ng-model="variant.SKU">
                    </div>
                    <div class="col-25">
                        <input type="text" placeholder="Variant" ng-model="variant.name">
                    </div>
                    <div class="col-25">
                        <input type="number" placeholder="Price" ng-model="variant.price">
                    </div>
                    <div class="col-25">
                        <input type="number" placeholder="Stock" ng-model="variant.stock">
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <div class="padding">
            <button class="button button-small button-positive" ng-click="$ctrl.addVariant()">+ Add variant</button>
        </div>
    </ion-content>
</ion-modal-view>
