<div class="list">
  <ion-item class="item-divider">
    Bank account
  </ion-item>
  <div class="select-floating">
    <ion-item class="item-select item-input">
      <label>
        Bank
      </label>
      <select ng-model="$ctrl.shop.bank_account.bank_account.brand">
        <option value="test" selected>Test Bank</option>
        <option value="bbl">Bangkok Bank</option>
        <option value="kbank">Kasikornbank</option>
        <option value="ktb">Krungthai Bank</option>
        <option value="tmb">TMB Bank</option>
        <option value="scb">Siam Commercial Bank</option>
        <option value="citi">Citibank</option>
        <option value="cimb">CIMB Thai Bank</option>
        <option value="uob">United Overseas Bank (Thai)</option>
        <option value="bay">Bank of Ayudhya (Krungsri)</option>
        <option value="tbank">Thanachart Bank</option>
        <option value="ibank">Islamic Bank of Thailand</option>
        <option value="lhb">Land and Houses Bank</option>
      </select>
    </ion-item>
  </div>
  <div class="select-floating">
    <ion-item class="item-input item-select">
    <label class="input-label">
      Account type
    </label>
    <select ng-model="$ctrl.shop.bank_account.type">
      <option value="individual" selected>Individual</option>
      <option value="corporation">Corporation</option>
    </select>
  </ion-item>
  </div>
  
  <ion-item class=" item-input item-stacked-label">
    <label class="input-label">
      Account name
    </label>
    <input type="text" placeholder="" ng-model="$ctrl.shop.bank_account.bank_account.name">
  </ion-item>
  <ion-item class="item-input item-stacked-label">
    <label class="input-label">
      Account number
    </label>
    <input type="text" placeholder="" ng-model="$ctrl.shop.bank_account.bank_account.number">
  </ion-item>
  
</div>