<ion-view view-title="Order" show-root-tabs class="tab-order-page">

  <div class="tab-order tabs-striped tabs-top tabs-gradient tabs-color-light" >
    <div class="tabs">
      <a class="tab-item {{$ctrl.statusFilter=='pending'&&'active'}}" ng-click="$ctrl.statusFilter='pending'">
        New order
      </a>
      <a class="tab-item {{$ctrl.statusFilter=='processing'&&'active'}}" ng-click="$ctrl.statusFilter='processing'">
        On process
      </a>
      <a class="tab-item {{$ctrl.statusFilter=='delivering'&&'active'}}" ng-click="$ctrl.statusFilter='delivering'">
        Delivering
      </a>
      <a class="tab-item {{$ctrl.statusFilter=='delivered'&&'active'}}" ng-click="$ctrl.statusFilter='delivered'">
        Completed
      </a>
      <a class="tab-item {{$ctrl.statusFilter=='cancel'&&'active'}}" ng-click="$ctrl.statusFilter='cancel'">
        Cancelled
      </a>
      <!-- <a class="tab-item {{$ctrl.statusFilter=='issued'&&'active'}}" ng-click="$ctrl.statusFilter='issued'">
        Issued
      </a> -->
    </div>
  </div>

  <ion-content class="has-tabs-top">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="$ctrl.fetchOrders()">
    </ion-refresher>

    <div class="card card-border-left" ng-repeat="order in filteredOrders = ($ctrl.orders | filter:{status:$ctrl.statusFilter})" ui-sref="^.orderDetail({id:order.id})">
      <div class="item item-text-wrap">
        <h4>
          <b>Order ID : </b>{{order.id}}
          <span style="float:right;">
            <span>{{order.status}}</span>
          </span>
        </h4>
        <p ng-repeat="item in order.orderItems">
          <span ng-if="item.product">
            - {{item.product.name}}
          </span>
          <span ng-if="item.productValuePack">
            - {{item.productValuePack.name}} (Value pack)
          </span>
        </p>
        <p>
          <b>Delivery method : </b>
          <span style="float:right;">
            {{order.delivery_method}}
          </span>
        </p>
        <p>
          <b>Payment method : </b>
          <span style="float:right;">
            {{order.payment_channel}}
          </span>
        </p>
        <p>
          <b>Total price : </b>
          <span style="float:right;">
            {{(order.total_price - order.total_discount + order.deliveryFee) | currency:order.shop.currency}}
          </span>
        </p>
      </div>
    </div>
    <div class="card card-border-left" ng-if="filteredOrders.length==0">
      <div class="item item-text-wrap">
        <h4>You don't have any {{$ctrl.statusFilter?$ctrl.statusFilter+" ":""}}order</h4>
      </div>
    </div>
          
  </ion-content>
</ion-view>
