<ion-nav-bar class="bar-dark">
  <ion-nav-back-button ng-click="$ctrl.goBack()"></ion-nav-back-button>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-energized" ng-if="!$ctrl.shop.public" ng-click="$ctrl.showAlert = !$ctrl.showAlert"><i class="icon ion-alert-circled"></i></button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-header-bar class="bar bar-subheader bar-energized" ng-if="!$ctrl.shop.public && $ctrl.showAlert" ui-sref="tabs.more">
  <p class="title small">Your shop is not publish</p>
  <button class="button button-clear" ng-click="$ctrl.showAlert = false"><i class="icon ion-ios-close"></i></button>
</ion-header-bar>
<ion-tabs class="tabs-striped tabs-color-positive {{$root.showroottab?'':'tabs-item-hide'}}">

  <ion-tab title="Dashboard" href="{{$ctrl.getStateUrl('tabs.dashboard')}}">
    <!-- Tab 1 content -->

    <ion-nav-view name="tab-dashboard-content">

    </ion-nav-view>

  </ion-tab>

  <ion-tab title="Store" href="{{$ctrl.getStateUrl('tabs.store.products')}}">
    <!-- Tab 1 content -->

    <ion-nav-view name="tab-store-content">

    </ion-nav-view>

  </ion-tab>

  <ion-tab title="Order" href="{{$ctrl.getStateUrl('tabs.order')}}">
    <!-- Tab 2 content -->

    <ion-nav-view name="tab-order-content">

    </ion-nav-view>

  </ion-tab>

  <ion-tab title="Balance" href="{{$ctrl.getStateUrl('tabs.balance')}}">
    <!-- Tab 1 content -->

    <ion-nav-view name="tab-balance-content">

    </ion-nav-view>

  </ion-tab>

  <ion-tab title="Contact" href="{{$ctrl.getStateUrl('tabs.contact.chatList')}}">
    <!-- Tab 3 content -->

    <ion-nav-view name="tab-contact-content">

    </ion-nav-view>

  </ion-tab>
  <ion-tab title="More" href="{{$ctrl.getStateUrl('tabs.more')}}">
    <!-- Tab 4 content -->

    <ion-nav-view name="tab-more-content">

    </ion-nav-view>

  </ion-tab>

</ion-tabs>