<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">{{method.name}}</h1>
        <button class="button button-clear" ng-click="$ctrl.saveMethod(method)">Done</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-toggle ng-model="method.active">{{method.name}}</ion-toggle>
            <ion-item ng-show="method.active && method.enableCondition" ng-click="$ctrl.editMethodCondition(method)">
                Delivery condition
                <span class="item-note dark truncate" style="max-width:150px"><i class="icon ion-chevron-right"></i></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
