<div class="row shop-cover row-bottom" style="background-image:url({{$ctrl.shop.cover}}),url(http://placehold.it/600x400);">
  <div class="shop-image" style="background-image:url({{$ctrl.shop.logo}}),url(http://placehold.it/200x200);">

  </div>
  <div class="col">
    <h5>{{$ctrl.shop.name}}</h5>
    <div>{{$ctrl.shop.location.formatted_address || "Unknown"}}</div>
  </div>
</div>
<div class="row positive-bg light text-center">
  <div class="col">
    <div>12,120</div>
    <div>Followers</div>
  </div>
  <div class="col">
    <div>$ 12,120</div>
    <div>Revenues</div>
  </div>
  <div class="col">
    <div>4.5/5</div>
    <div>Rating</div>
  </div>
</div>
