shop-detail-header{
  .shop-cover{
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    height:200px;
    padding-bottom:20px;
  }
  .shop-image{
    margin:5px;
    width:90px;
    height:0px;
    padding-bottom:90px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
  }
}
