<image-picker class="" ng-model="$ctrl.shop.cover" on-image-selected="$ctrl.updateCover(url)" style="width:100%;">
  <div class="row row-bottom shop-cover">
    <image-picker class="shop-image" ng-model="$ctrl.shop.image" on-image-selected="$ctrl.updateImage(url)"></image-picker>
    <div class="col">
      <h5>{{$ctrl.shop.name}}</h5>
      <div>{{$ctrl.shop.location.formatted_address || "Unknown"}}</div>
    </div>
  </div>
</image-picker>
<div class="row positive-bg light text-center">
  <div class="col">
    <div>12,120</div>
    <div>Followers</div>
  </div>
  <div class="col">
    <div>$ 12,120</div>
    <div>Revenues</div>
  </div>
  <div class="col">
    <div>4.5/5</div>
    <div>Rating</div>
  </div>
</div>
