
<ion-view view-title="Login">
  <ion-content scroll="false" id="login-page">
    <div class="login-header">
      <div class="logo-block">
        <img ng-src="{{$ctrl.logo}}" style="height:100px;">
      </div>
      <p class="title">Sign in</p>
    </div>

    <form ng-submit="$ctrl.login()">
      <div class="login-form card">
        <ion-list>
          <ion-item class="item-input item-floating-label">
            <label class="input-label">Email</label>
            <div style="position: relative;">
              <input type="email" ng-model="$ctrl.credential.email" placeholder="Email">
              <i class="icon ion-ios-email-outline"></i>
            </div>
          </ion-item>
          <ion-item class="item-input item-floating-label">
            <label class="input-label">Password</label>
            <div style="position: relative;">
              <input type="password" ng-model="$ctrl.credential.password" placeholder="Password">
              <i class="icon ion-ios-locked-outline"></i>
            </div>
          </ion-item>
        </ion-list>
      </div>
      
      <div class="wrap-login-btn">
        <button type="submit" class="button button-positive button-block" style="padding: 10px">Sign in</button>
        <p style="margin: 20px 0">Don't have an account? <a ui-sref="register" style="text-decoration: none">Create now</a></p>
      </div>
      
      <!-- <div class="wrap-btn-login text-center">
        <div class="row">
          <div class="col-80 col-offset-10">
            <button type="submit" class="button button-positive button-block">Login</button>
          </div>
        </div>
        
      </div> -->
      <!-- <div class="wrap-btn-signup text-center">
        
        <div class="row">
          <div class="col-80 col-offset-10">
            <button class="button button-light button-block" ui-sref="register">Create your account</button>
          </div>
        </div>
      </div> -->
    </form>

  </ion-content>
</ion-view>
