
<ion-view view-title="Login">
  <ion-nav-bar class="bar-dark">Login</ion-nav-bar>
  <ion-content scroll="false" class="login-background">
    <div class="row row-center" style="height:100%;">
      <div class="col col-80 col-offset-10">
        <form ng-submit="$ctrl.login()" class="login-form card">
          <div class="text-center">
            <img ng-src="{{$ctrl.logo}}" style="height:80px;">
          </div>
          <ion-list>
            <ion-item class="item-input item-floating-label">
              <label class="input-label">Email</label>
              <input type="email" ng-model="$ctrl.credential.email" placeholder="Email">
            </ion-item>
            <ion-item class="item-input item-floating-label">
              <label class="input-label">Password</label>
              <input type="password" ng-model="$ctrl.credential.password" placeholder="Password">
            </ion-item>
          </ion-list>
          <div class="wrap-btn-login text-center">
            <div class="row">
              <div class="col-80 col-offset-10">
                <button type="submit" class="button button-positive button-block">Login</button>
              </div>
            </div>
            
          </div>
          <div class="wrap-btn-signup text-center">
            
            <div class="row">
              <div class="col-80 col-offset-10">
                <button class="button button-light button-block" ui-sref="register">Create your account</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
