.select-shop{
  .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
  }
  .scroll {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .profile-image{
    width:150px;
    height:150px;
    border-radius: 50%;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    display:inline-block;
  }
  .pencil-btn {
    width: 25px;
    height: 25px;
    min-width: auto;
    bottom: 12px;
    right: 12px;

    .icon:before {
      font-size: 14px;
      line-height: 10px;
    }
  }
}
