<ion-view view-title="SelectShop" class="select-shop">
  <ion-content padding="true">
    <div class="row row-center">
      <div class="col col-center">
        <div class="profile-image" style="background-image:url({{$ctrl.user.image}}),url(http://placehold.it/200x200);position:relative;">
          <button class="button button-positive button-fab" ui-sref="layout.myProfile"><i class="icon ion-edit"></i></button>
        </div>
        
      </div>
    </div>
    <div class="row row-center">
      <div class="col col-center">
        Welcome, {{$ctrl.user.firstname&&$ctrl.user.lastname?$ctrl.user.firstname+" "+$ctrl.user.lastname:"" || $ctrl.user.email}}
      </div>
    </div>
    <div class="row row-center" ng-show="$ctrl.shops.length>0">
      <div class="col col-center">
        Continue with
      </div>
    </div>
    <div class="row row-center" ng-show="$ctrl.shops.length>0">
      <div class="col col-center">
        <ion-list class="shop-list">
          <ion-item ng-repeat="shop in $ctrl.shops | limitTo:3" ng-click="$ctrl.selectShop(shop)">
            {{shop.name}}
          </ion-item>
          <ion-item ng-if="$ctrl.shops.length>3">
            More shops
          </ion-item>
        </ion-list>

      </div>
    </div>
    <div class="row row-center">
      <div class="col col-center col-50 col-offset-25">
        <button class="button button-positive button-block" ui-sref="newShop">New shop</button>
      </div>
    </div>
  </ion-content>
</ion-view>
