<div class="row flex-column schedule">
  <span class="schedule-caption">Delivery fee</span>
  <div class="schedule-container">
    <div>
      <ion-item ng-repeat="condition in $ctrl.conditions track by $index" ng-click="$ctrl.editCondition(condition)" on-hold="$ctrl.showActions(condition)">
          {{condition.from}} km - {{condition.to}} km
          <span class="item-note dark">
              {{condition.service_fee==0?"Free":(condition.service_fee | currency:"USD")}}
          </span>
      </ion-item>
    </div>
  </div>
  <button class="button button-clear button-positive text-left" ng-click="$ctrl.editCondition()">Add more range</button>
</div>