
<ion-view view-title="Register">
  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button ng-click="$ctrl.goBack()"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <form ng-submit="$ctrl.register()" class="register-form">
      <ion-list>
        <ion-item class="item-input item-floating-label">
          <label class="input-label">Email</label>
          <input type="email" ng-model="$ctrl.credential.email" placeholder="Email">
        </ion-item>
        <ion-item class="item-input item-floating-label">
          <label class="input-label">Password</label>
          <input type="password" ng-model="$ctrl.credential.password" placeholder="Password">
        </ion-item>
        <ion-item class="item-input item-floating-label">
          <label class="input-label">Confirm password</label>
          <input type="password" ng-model="$ctrl.credential.confirmPassword" placeholder="Confirm password">
        </ion-item>
        <div class="wrap-btn-main">
          <button type="submit" class="button button-positive button-block" ng-disabled="($ctrl.credential.password!=$ctrl.credential.confirmPassword) || $ctrl.credential.password.length < 6">Register</button>
        </div>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
