<ion-list>
  <ion-item style="border-bottom: 0; padding-bottom: 0;">
    <multi-image-picker width="200" height="200" ng-model="$ctrl.product.images"></multi-image-picker>
  </ion-item>
  <ion-item class="item-input item-floating-label">
    <label class="input-label">Name</label>
    <input type="text" ng-model="$ctrl.product.name" placeholder="Name">
  </ion-item>
  <ion-item class="item-input item-floating-label">
    <label class="input-label">SKU</label>
    <input type="text" ng-model="$ctrl.product.productVariants[0].SKU" placeholder="SKU">
  </ion-item>
  <ion-item class="item-input item-floating-label">
    <label class="input-label">Price</label>
    <div class="item-input-wrapper light-bg" style="padding: 0">
    <input type="number" ng-model="$ctrl.product.productVariants[0].price" placeholder="Price">
      <i class="item-input-inset">{{$ctrl.product.shop.currency}}</i>
    </div>
  </ion-item>
  <ion-item class="item-input item-floating-label">
    <label class="input-label">Stock</label>
    <div class="item-input-wrapper light-bg" style="padding: 0">
      <input type="number" ng-model="$ctrl.product.productVariants[0].stock" placeholder="Stock">
      <i class="item-input-inset">Units</i>
    </div>
  </ion-item>
  <ion-item class="item-input item-floating-label">
    <label class="input-label">Description</label>
    <textarea ng-model="$ctrl.product.description" rows="3" placeholder="Description"></textarea>
  </ion-item>
  <item-select-modal class="select-floating" ng-model="$ctrl.product.productCategoryId" options="$ctrl.categories" text-key="name" value-key="id" title="Select category" default-text="">
    Global cateogry
  </item-select-modal>
  <product-category-select-item ng-model="$ctrl.product.shopProductCategoryId" shop-id="$ctrl.product.shopId" class="select-floating">
    Shop Category
  </product-category-select-item>
  <product-variant-item ng-model="$ctrl.product.productVariants" shop-id="$ctrl.product.shopId" enable-variants="$ctrl.product.enableVariants" class="select-floating">
    Variant
  </product-variant-item>
  <product-option-select-item ng-model="$ctrl.product.productOptions" shop-id="$ctrl.product.shopId" enable-options="$ctrl.product.enableOptions" class="select-floating">
    Option
  </product-option-select-item>
</ion-list>