<ion-modal-view>
    <ion-header-bar class="background-gradient">
        <h1 class="title">Select products</h1>
        <button class="button button-clear" ng-click="$ctrl.save($ctrl.products)"><i class="icon ion-ios-checkmark-outline"></i></button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-checkbox ng-repeat="product in $ctrl.products" ng-model="product.checked">
                {{product.name}}
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-modal-view>
